In [1]:
#import data after extraction result
import pickle
import pandas as pd

with open('../csci-544-project/data/extraction-news.pkl', 'rb') as f:
    data = pickle.load(f)
    final_df = pd.DataFrame(data)

In [2]:
final_df

,predictions,references,predictions_joined,references_joined
0,"[<S> Saurav Kant, an alumnus of upGrad and III...",upGrad learner switches to career in ML & Al w...,"Saurav Kant, an alumnus of upGrad and IIIT-B's...",upGrad learner switches to career in ML & Al w...
1,[<S> Users get one CRED coin per rupee of bill...,Delhi techie wins free food from Swiggy for on...,Users get one CRED coin per rupee of bill paid...,Delhi techie wins free food from Swiggy for on...
2,[<S> New Zealand defeated India by 8 wickets i...,New Zealand end Rohit Sharma-led India's 12-ma...,New Zealand defeated India by 8 wickets in the...,New Zealand end Rohit Sharma-led India's 12-ma...
3,"[<S> Also, customers have options to insure ag...",Aegon life iTerm insurance plan helps customer...,"Also, customers have options to insure against...",Aegon life iTerm insurance plan helps customer...
4,[<S> Speaking about the sexual harassment alle...,"Have known Hirani for yrs, what if MeToo claim...",Speaking about the sexual harassment allegatio...,"Have known Hirani for yrs, what if MeToo claim..."
...,...,...,...,...
98396,"[<S> As per preliminary information, Maoists a...",CRPF jawan axed to death by Maoists in Chhatti...,"As per preliminary information, Maoists attack...",CRPF jawan axed to death by Maoists in Chhatti...
98397,"[<S> 'Uff Yeh', the first song from the Sonaks...",First song from Sonakshi Sinha's 'Noor' titled...,"'Uff Yeh', the first song from the Sonakshi Si...",First song from Sonakshi Sinha's 'Noor' titled...
98398,"[<S> According to reports, a new version of th...",'The Matrix' film to get a reboot: Reports,"According to reports, a new version of the 199...",'The Matrix' film to get a reboot: Reports
98399,[<S> The video also shows a TV airing a news c...,Snoop Dogg aims gun at clown dressed as Trump ...,The video also shows a TV airing a news confer...,Snoop Dogg aims gun at clown dressed as Trump ...
98400,"[<S> Madhesi Morcha, an alliance of seven poli...",Madhesi Morcha withdraws support to Nepalese g...,"Madhesi Morcha, an alliance of seven political...",Madhesi Morcha withdraws support to Nepalese g...

In [3]:
from torch.utils.data import Dataset, DataLoader
from datasets import load_metric
metric = load_metric("rouge")

In [5]:
# full data, The time of processing all 119924 paper is 50 days :), so run first 1000 paper
import os
import openai
from tqdm import tqdm
openai.organization = "org-nsNh9fJWAg5XDKfN84jwabqj"
openai.api_key = "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"
engine_list = openai.Engine.list() 
#openai.api_key = os.getenv("OPENAI_API_KEY")
output = []
#final_output = []
for i in tqdm(range(1000)):
    try:
        beginning_tag = "Original:\n"
        ending_tag = "\n````\nPolished Sentence:"
        text =  beginning_tag + str(final_df["predictions_joined"].iloc[i])+ ending_tag
        response = openai.Completion.create(
          engine="curie",
          prompt=text,
          temperature=0.5,
          max_tokens=500,
          top_p=1,
          frequency_penalty=0.2,
          presence_penalty=0,
          stop=["````"]
        )
        output.append(response["choices"][0]['text'])
    except:# if the token exceed the maximum tokens number in GPT-3 model,then just use first 1/60 text
        beginning_tag = "Original:\n"
        ending_tag = "\n````\nPolished Sentence:"
        a = final_df["predictions_joined"].iloc[i][:int(len(final_df["predictions_joined"].iloc[i])/2)]
        text = beginning_tag + str(a)+ ending_tag
        response = openai.Completion.create(
          engine="curie",
          prompt=text,
          temperature=0.5,
          max_tokens=500,
          top_p=1,
          frequency_penalty=0.2,
          presence_penalty=0,
          stop=["````"]
        )
        output.append(response["choices"][0]['text'])
#final_output.append(output)
pred_df = pd.DataFrame()
pred_df["summary"] = output 
pred_df.to_csv("news_after_extraction_summary_1000.csv",sep = ' ',index = False,header = False)

100%|██████████| 1000/1000 [33:19<00:00,  2.00s/it]

In [6]:
fake_preds = output
fake_labels = final_df['references_joined'].head(1000)
metric.compute(predictions=fake_preds, references=fake_labels)

{'rouge1': AggregateScore(low=Score(precision=0.11114064583088037, recall=0.4576778627275504, fmeasure=0.1589192871535877), mid=Score(precision=0.11930892863143995, recall=0.4749388437950939, fmeasure=0.1691917841079557), high=Score(precision=0.12793400627226456, recall=0.49203799235486756, fmeasure=0.17964425893725114)),
 'rouge2': AggregateScore(low=Score(precision=0.03998083179947326, recall=0.16553396506271523, fmeasure=0.057090036830165114), mid=Score(precision=0.04564259289315076, recall=0.17763612498612535, fmeasure=0.06368569148465282), high=Score(precision=0.05113648911283643, recall=0.18957467005217044, fmeasure=0.07017889593896925)),
 'rougeL': AggregateScore(low=Score(precision=0.09675718223128925, recall=0.4003613095238092, fmeasure=0.1377277734533818), mid=Score(precision=0.10379690743062342, recall=0.4154503121878119, fmeasure=0.1466161748685059), high=Score(precision=0.11197762508855429, recall=0.4316680171564547, fmeasure=0.15613868672091522)),
 'rougeLsum': AggregateScore(low=Score(precision=0.09582351008890823, recall=0.39615043872793837, fmeasure=0.13711612325032765), mid=Score(precision=0.10333299407936375, recall=0.4120181388056387, fmeasure=0.14559436782434335), high=Score(precision=0.11053057487201459, recall=0.4277055196539572, fmeasure=0.15485128256926065))}

In [7]:
report_df = pd.DataFrame(columns = ['data_resource','data_num','extraction_rough_1','extraction_rough_2','extraction_rough_L'])

In [8]:

news = {'data_resource':'news', 'data_num':1000,'extraction_rough_1':16.92,'extraction_rough_2':6.37,'extraction_rough_L':14.66}

report_df = report_df.append(news, ignore_index = True)

In [9]:

pubmed = {'data_resource':'pubmed', 'data_num':1000,'extraction_rough_1':28.43,'extraction_rough_2':8.66,'extraction_rough_L':16.30}

report_df = report_df.append(pubmed, ignore_index = True)

In [10]:
arxiv = {'data_resource':'arxiv', 'data_num':1000,'extraction_rough_1':23.40,'extraction_rough_2':5.26,'extraction_rough_L':12.79}

report_df = report_df.append(arxiv, ignore_index = True)

In [11]:
report_df

,data_resource,data_num,extraction_rough_1,extraction_rough_2,extraction_rough_L
0,news,1000,16.92,6.37,14.66
1,pubmed,1000,28.43,8.66,16.30
2,arxiv,1000,23.40,5.26,12.79